<div class="app-panel-filter"> 
    <div *ngFor="let geoType of geoTypes">
      <p-radioButton
        [inputId]="geoType.id"
        name="geoType"
        [value]="geoType"
        [(ngModel)]="selectedGeoType"
        (onClick)="onGeoTypeChange($event)">
      </p-radioButton>
      <label>
        {{ geoType.label | translate }}
      </label>
    </div>
    <p-dropdown 
      *ngIf="selectedGeoType && selectedGeoType!.id == 'sistema_electrico'"
      [(ngModel)]="systemElectric"
      [options]="systemElectrics"              
      optionLabel="label" 
      [style]="{'width': '290px'}"               
      [placeholder]="translate.instant('TABLE_FILTERS.SELECT_ELECTRIC_SYSTEM')"
      (onChange)="onElectricSystemChange(systemElectric)">
    </p-dropdown>
    <p-dropdown
      *ngIf="selectedGeoType && selectedGeoType.id == 'comunidades_autonomas'"
      [(ngModel)]="county"
      [options]="counties"              
      optionLabel="label" 
      [style]="{'width': '290px'}"               
      [placeholder]="translate.instant('TABLE_FILTERS.SELECT_COUNTY')"
      (onChange)="onAutonomousCommunityChange(county)">
    </p-dropdown>
    <p-dropdown 
      [(ngModel)]="technology"
      [options]="technologies"              
      optionLabel="label" 
      [style]="{'width': '290px'}"               
      [placeholder]="translate.instant('TABLE_FILTERS.SELECT_TECHNOLOGY')"
      (onChange)="onTechnologyChange(technology)">
    </p-dropdown>                
    <p-dropdown 
      [(ngModel)]="timeTrunc"
      [options]="timeTruncsByGeoType"              
      optionLabel="label" 
      [style]="{'width': '290px'}"               
      [placeholder]="translate.instant('TABLE_FILTERS.SELECT_TIME_TRUNC')"
      (onChange)="onTimeTruncChange(timeTrunc)">
    </p-dropdown>               
    <p-calendar 
      [(ngModel)]="rangeDates"
      [view]="calendarView"
      [dateFormat]="calendarDateFormat"
      [showIcon]="true"
      [readonlyInput]="true"      
      selectionMode="range"
      [style]="{'width': '100%'}"
      [placeholder]="translate.instant('TABLE_FILTERS.SELECT_INTERVAL')"
      (onSelect)="onRangeDatesChange(rangeDates)"> 
    </p-calendar>
    <!--<p-dropdown 
      [options]="geoLimits"      
      [(ngModel)]="geoLimit"             
      optionLabel="label" 
      [placeholder]="translate.instant('TABLE_SELECTORS.GEO_LIMIT_SELECTOR')"      
      [style]="{'width': '240px'}"
      showClear="true"                   
      (onChange)="onChangeGeoLimit($event.value)">
    </p-dropdown>-->                                  
</div>