.app-logo {
    padding-left: 5px;
}

.app-container-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-container-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 5px;
}

.app-container-selectors {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 5px;
    padding-left: 5px;
}

.app-container-table {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex: 1;
    overflow: auto;
}

.app-container-bottombar {
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f4f4f4;
    padding: 5px;    
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

::ng-deep .app-panel-header-filter {
    padding-left: 5px;
    
    .p-panel {
        display: flex;        
        flex-direction: column;
        height: 100%;

        .p-toggleable-content {
            display: flex;        
            flex-direction: column;
            height: 100%;    

            .p-panel-content {
                height: 100%;
                margin-bottom: 10px;
            }
        }        
    }
        
    .p-panel-header {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}

.app-panel-filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

::ng-deep .app-panel-table {
    padding-right: 5px;

    .p-panel {
        display: flex;        
        flex-direction: column;
        height: 100%;

        .p-toggleable-content {
            display: flex;        
            flex-direction: column;
            height: 100%;    

            .p-panel-content {
                height: 100%;
                margin-bottom: 10px;
            }
        }
    }

    width: 100%;
}

.table-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.table-toolbar-left {
    display: flex;
    gap: 5px;
}

.table-filter-toolbar {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

.table-status-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}