<p-toast />

<div class="app-container">
  <!-- App Mix Top Bar -->
  <div class="app-panel-top-bar">
      <div></div>
      <div>
        <p-dropdown 
          [options]="languages"        
          [(ngModel)]="language"             
          optionLabel="label" 
          [placeholder]="translate.instant('LAN_SELECTOR')"      
          [style]="{'margin-left': 'auto', 'width': '220px'}"                    
          (onChange)="onChangeLanguage($event.value)">
        </p-dropdown>        
    </div>
  </div>

  <!-- App Mix Panel Selector -->
  <div class="app-panel-selector">
  </div>

  <!-- App Mix Table -->
  <p-table
    #mixTable
    [value]="mix"
    [loading]="loading"
    scrollable="true"
    scrollHeight="flex"
    [sortField]="'datetime'"
    selectionMode="single"
    [paginator]="true"
    [rows]="250"
    [rowsPerPageOptions]="[100, 250, 500]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [exportHeader]="'customExportHeader'"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
      <!-- Table Mix Tool Bar -->
      <div class="table-toolbar">
          <div class="table-left-toolbar">
            <!-- Table Mix Panel Filters -->
             <p-calendar 
                [(ngModel)]="rangeDates"
                dateFormat="dd-mm-yy"
                [showIcon]="true"
                selectionMode="range"
                [style]="{'width': '270px'}" 
                [placeholder]="translate.instant('SELECT_INTERVAL')"
                [readonlyInput]="true" /> 
              <p-dropdown 
                [options]="timeTruncs"              
                [(ngModel)]="timeTrunc"
                optionLabel="label" 
                [style]="{'width': '290px'}"               
                [placeholder]="translate.instant('SELECT_TIME_TRUNC')"
                (onChange)="onTimeTruncChange($event.value)">
              </p-dropdown>                 
              <p-button 
                [disabled]="rangeDates.length == 0 || timeTrunc == undefined"
                [label]="translate.instant('GET_GENERATION_MIX')"
                icon="pi pi-search" 
                (onClick)="onGetMix($event)"/>                          
          </div>
          <!-- Table Mix Panel Accions -->
          <div class="table-right-toolbar">       
            <p-button
              [label]="translate.instant('CLEAR_FILTERS')"
              icon="pi pi-filter-slash"
              [outlined]="true"
              (onClick)="onClear(mixTable)" />
            <p-button
              [disabled]="mix.length == 0"
              [label]="translate.instant('EXPORT')"
              icon="pi pi-file-export"
              severity="success"
              (onClick)="onExport(mixTable)" />                
          </div> 
      </div>
    </ng-template>    
    <!-- Table Mix Columns -->
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="group">
            <div class="table-filter-toolbar">
              <p-sortIcon field="group" />
              {{'TABLE_COLUMNS.GROUP' | translate}}
              <p-columnFilter field="group" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown 
                      [ngModel]="value"
                      [options]="groups"
                      optionLabel="label"
                      optionValue="key"                      
                      (onChange)="filter($event.value)"
                      placeholder="Select Group">
                    </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="type">
            <p-sortIcon field="type" />
            {{'TABLE_COLUMNS.TYPE' | translate}}
            <p-columnFilter field="type" matchMode="equals" display="menu">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown 
                    [ngModel]="value"
                    [options]="types"
                    optionLabel="label"
                    optionValue="key"
                    (onChange)="filter($event.value)"
                    placeholder="Select Type">
                  </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="value">
            <div class="table-filter-toolbar">
              <p-sortIcon field="value" />
              {{'TABLE_COLUMNS.GENERATION' | translate}} 
              <p-columnFilter type="numeric" field="value" display="menu" />           
            </div>
          </th>
          <th pSortableColumn="percentage">
            <div class="table-filter-toolbar">
              <p-sortIcon field="percentage"/>
              {{'TABLE_COLUMNS.PERTENTAGE' | translate}} 
              <p-columnFilter type="numeric" field="percentage" matchMode="lte" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-inputNumber
                    [showButtons]="true"
                    [ngModel]="value * 100"
                    (onInput)="onPercentageInput($event.value, filter)"
                    placeholder="Enter Percentage"
                  ></p-inputNumber>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="datetime">
            <div class="table-filter-toolbar">
              <p-sortIcon field="datetime" />
              {{'TABLE_COLUMNS.DATETIME' | translate}} 
              <p-columnFilter type="date" field="datetime" display="menu" />
            </div>
          </th>
        </tr>
    </ng-template>
    <!-- Table Mix Rows -->
    <ng-template pTemplate="body" let-mix>
        <tr>
            <td>
              <div class="table-status-row">
                <div [style.background-color]="mix.color" class="color-circle"></div>
                {{ mix.group }}
              </div>
            </td>
            <td>{{ mix.type }}</td>
            <td>{{ mix.value | number: '1.0-0' }}</td>
            <td>{{ mix.percentage | percent: '1.0-1' }}</td>
            <td>{{ mix.datetime | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </ng-template>
  </p-table>

  <!-- App Mix Botton Bar -->
  <div class="app-bottom-bar">
    <p-button 
      [label]="translate.instant('EMAIL_TEXT')"
      icon="pi pi-envelope" 
      styleClass="p-button-text" 
      (onClick)="onSendEmail()">
    </p-button>
  </div>
</div>